body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--white-color);
}

:root {
    --white-color: #FFFFFF;
    --title-color: #2E2F42;
    --text-color: #434455;
    --light-background: #F4F4FD;
    --hover-background: #404BBF;
    --blue-text-color: #4D5AE5;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* -----HEADER----- */

.header {
    background-color: var(--white-color);
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-text-color);
    margin-right: 76px;
}

.header-logo-color {
    color: var(--title-color);
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-item {}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    color: var(--title-color);
    padding: 24px 0;
}

.header-link:hover,
.header-link:focus {
    color: var(--hover-background);
}

.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-item {}

.header-address-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header-address-link:hover,
.header-address-link:focus {
    color: var(--hover-background);
}

/* -----MAIN----- */

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.hero {
    padding: 96px 0 120px
}

.hero-main-page {
    width: 1440px;
    height: 600px;
    background: var(--title-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    margin: 0 auto;
}

.hero-main-container {}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}

.hero-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--blue-text-color);
    color: var(--white-color);
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    margin-top: 48px;
    border: none;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background: var(--hover-background);
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--light-background);
    color: var(--blue-text-color);
    cursor: pointer;
    display: inline-block;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    border-radius: 4px;
}

.hero-btn-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.hero-btn-item {
    display: inline-block;
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--hover-background);
    color: var(--white-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -----PORTFOLIO----- */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-text {}

.app-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

/* -----Section VALUES----- */

.values {
    background-color: var(--white-color);
    padding: 120px 0;
}

.values-container {}

.values-list {
    display: flex;
    gap: 24px;
}

.values-item {
    width: calc((100% - 72px) / 4);
}

.values-text {}

.values-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}

/* -----Section WORK----- */

.work {
    background-color: var(--white-color);
    padding-bottom: 120px;
}

.work-container {}

.work-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.work-item {
    width: calc((100% - 48px) / 3);
}

.work-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 72px;
}

/* -----Section TEAM----- */

.team {
    background-color: var(--light-background);
    padding: 120px 0;
}

.team-container {}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 72px;
}

.team-item {
    background-color: var(--white-color);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name-container {
    padding: 32px 16px;

}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-align: center;
}

.worker-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 8px;
}

/* -----FOOTER----- */

.footer {
    background-color: var(--title-color);
    padding: 100px 0;
}

.footer-container {}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--blue-text-color);
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: var(--light-background);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-background);
    max-width: 264px;
}